/* purgecss start ignore */
html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-size: 1.25rem;
  line-height: 1.6;

  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: var(--c-foreground);
  background-color: var(--c-background);
}

::selection {
  background: var(--c-2);
  color: var(--c-light);
}

/* purgecss end ignore */

// improve .container utlity class from tailwind:
.container {
  width: calc(100% - 2rem);
  @include mq-sm {
    max-width: calc(#{$width-sm} - 4rem);
  }
  @include mq-md {
    max-width: calc(#{$width-md} - 4rem);
  }
  @include mq-lg {
    max-width: calc(#{$width-lg} - 8rem);
  }
  @include mq-xl {
    max-width: calc(#{$width-xl} - 10rem);
  }
}
